.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(f, f, f, 0.3);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.modal__wrapper.open {
  height: 100vh;
  display: block;
}

.modal__wrapper.close {
  height: 0;
  display: none;
}

.modal__body {
  max-width: 650px;
  width: 65%;
  height: 50%;
  background-color: aliceblue;
  margin: 5% auto;
  border-radius: 5px;
  border: 1px solid #777777;
  overflow-y: scroll;
  padding: 5px 25px 25px;
}

.modal__body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.modal__body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal__close {
  text-align: right;
}

.modal__close i {
  position: fixed;
  color: #888888;
}

.modal__close i:hover {
  color: #333333;
  cursor: pointer;
}
