.list {
  text-align: left;
  width: 70%;
  margin: 0 auto;
}

li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.fieldList:hover {
  cursor: pointer;
  background-color: rgb(252, 252, 189);
  color: #5f0272;
}

.pale {
  color: grey;
  /* font-size: 14px; */
}
